[package]
name = "spring-beans"
version.workspace = true
edition.workspace = true
authors.workspace = true
description.workspace = true
license.workspace = true

[dependencies]
spring-macro = {path = "../spring-macro"}
inventory = { workspace = true }
