[package]
name = "spring-core"
version.workspace = true
edition.workspace = true
authors.workspace = true
description.workspace = true
license.workspace = true

[dependencies]
spring-beans = { path = "../spring-beans" }
